@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
.logo {
    width: 100px;
    height: 100%;
}
.card1 {
    align-items: center;
    box-shadow: 0 5px 8px 0 #3B4BFF;
    transition: 0.3s;
    border-radius: 5px;
    width: 100%;
    height: auto;
    padding : 0 100px 0 100px;
    justify-content: flex-start;
    /* background-image: url('https://zupimages.net/up/19/43/1e55.png');
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    -webkit-background-size: cover; */
    display: flex;
    flex-direction: row;
    background: linear-gradient(to left, #0C1AB3,#3B4BFF);
}
.card1 h1{
    
    color: white;
        /* text-shadow:1px 5px 1px black; */
        text-shadow: 4px 4px 4px black, 0 0 1em black, 0 0 0.2em black;
        font-family: 'Amarante';
}
.card2 {
    
    box-shadow: 0 5px 8px 0 #FF3021;
    transition: 0.3s;
    border-radius: 5px;
    width: 100%;
    height: auto;
    /* background-image: url('https://zupimages.net/up/19/43/1e55.png'); */
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, #B31105,#FF0F00), url('https://zupimages.net/up/19/43/1e55.png');
    /* align-items: center; */
    padding : 0 100px 0 100px;
}
.card2 h1{
    color: black;
    
        /* text-shadow:1px 5px 1px black; */
        text-shadow: 4px 4px 4px white, 0 0 1em white, 0 0 0.2em white;
        font-family: 'Amarante';
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.githubNickname1{
    padding-top: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    padding-bottom: 5%;
    color: blue; 
}

.githubNickname2{
    padding-top: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    padding-bottom: 5%;
    color: red; 
}
.avatar{
    width: 100px;
    height: auto;
    border-radius: 0px 40px 0px 40px;
    border: 5px inset black;
    
}



.location{
    padding-bottom: 5%;
    font-size: 110%;
}
.weapons{
    font-size: 100%;
}

.userinfo1{
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 10%;

}
.userinfo2{
    margin-right: 10%;
}
.avatarBox{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.choiceCard2{
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 8px 0 #FF3021;
    transition: 0.3s;
    border-radius: 5px;
    width: 50%;
    height: auto;
    background-image: url('https://zupimages.net/up/19/43/1e55.png');
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    border:solid 2px #FF3021;
}
.choiceCard1{
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 10px 0 #3B4BFF;
    transition: 0.3s;
    border-radius: 5px;
    width: 50%;
    height: auto;
    background-image: url('https://zupimages.net/up/19/43/1e55.png');
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    border:solid 2px #0C1AB3;
    
}

@media screen and (min-width: 800px) and (max-width: 1150px) {
    .userinfo {
        font-size: 2.5 vh;
    }

    .githubNickname{
        font-size: 2.7 vh;
    }
}

@media screen and (max-width: 800px) {
*{
    margin: 0%;
    padding: 0%;
}
.avatar{
    width: 100px;
    height: auto;
    border-radius: 0px 40px 0px 40px;
    border: 5px inset black;
    
}

.userinfo{
    padding: 5%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
}

.card1 {
    align-items: center;
    box-shadow: 0 5px 8px 0 #3B4BFF;
    transition: 0.3s;
    border-radius: 5px;
    width: 100%;
    height: auto;
    /* padding : 0 100px 0 100px; */
    justify-content: flex-start;
    /* background-image: url('https://zupimages.net/up/19/43/1e55.png');
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    -webkit-background-size: cover; */
    display: flex;
    flex-direction: row;
    background: linear-gradient(to left, #0C1AB3,#3B4BFF);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.avatarLogo{
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 150px;
    max-height: 150px;
}

.avatar{
    border-radius: 50%;
    width: 50%;
    height: auto;
}

.githubNickname{
    padding-top: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    padding-bottom: 5%;
}
.logo {
    width: 30px;
    height: 100%;
}

.userinfo{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    font-weight: bold;
    padding: 5% 0%;
}

.location{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    font-weight: bold;
    padding: 5% 0%
}

.repo{
    padding-top: 3%;
}

.logobox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 25%;
    margin: auto;
    overflow: hidden;
    padding-bottom: 15%;
}
.logo{
    height: 60%;
    width: 60%;
}
}


