/* @media screen and (max-width: 800px) { */

*{
    margin: 0%;
    padding: 0%;
}

.logobox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    /* margin: auto; */
    overflow: hidden;
    padding-bottom: 1%;
}
.logo{
    height: 60%;
    width: 60%;
    max-height: 10px;
    max-width: 10px;
    min-width: 100px;
    min-height: 100px;
}