@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&display=swap');


.card {
    margin-left: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 60%;
    height: 35%;
    background-color: whitesmoke;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.avatarLogo{
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 150px;
    max-height: 150px;
}

.avatar{
    border-radius: 100%;
    width: 65%;
    height: 65%;
}

.githubNickname{
    padding-top: 10%;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 5vh;
}

.location{
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 3vh;
    font-weight: bold;
}

.repo{
    padding-bottom: 10%;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 3vh;
    font-weight: bold;
}
