@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

.card {
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 30%;
    height: 65%;
    background-image: url('https://zupimages.net/up/19/43/1e55.png');
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.githubNickname{
    padding-top: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    padding-bottom: 5%; 
}

.avatar{
    width: 55%;
    height: 100%;
    border-radius: 0px 40px 0px 40px;
    border: 5px inset #1C6EA4;
}

.userinfo{
    padding: 5%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
}

.location{
    padding-bottom: 5%;
}



@media screen and (max-width: 800px) {
*{
    margin: 0%;
    padding: 0%;

}

.card {
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 60%;
    height: 35%;
    background-image: url('https://zupimages.net/up/19/43/1e55.png');
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.avatarLogo{
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 150px;
    max-height: 150px;
}

.avatar{
    border-radius: 50%;
    width: 60%;
    height: 60%;
}

.githubNickname{
    padding-top: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    padding-bottom: 5%;
}

.userinfo{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
    padding: 5% 0%;
}

.location{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
    padding: 5% 0%
}

.repo{
    padding-top: 3%;
}

.logobox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 25%;
    margin: auto;
    overflow: hidden;
    padding-bottom: 15%;
}
.logo{
    height: 60%;
    width: 60%;
}
}