@media screen and (min-width: 801px) {

    #Profile1 {
        display: none;
        margin: auto;
        margin-top: 0;
    }
    
    #ChooseTheProfile2 {
        display: none;
        margin: 30% auto 0 auto;
    }

    #Profile2 {
        display: none;
        margin: auto;
        margin-top: 0;
    }
    
    #comparison {
        display: none;
        border:1px solid red;
        margin: 10px;
    }

    .buttonPhone {
        display: none;
    }

    h1 {
        color: blue;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #displayResultsDesktop {
        display: flex;
        margin: 10px;
        align-items: flex-start;
    }

    .VS-phone {
        display: flex;
        align-items: center;
    }

    .avatar {
        width: 60%;
    }

    .avatar-result {
        width: 100%;
    }

    #results-phone {
        display: none;
        background: red;
        width: auto;
        height: 200px;
        margin: 10px;
    }

    .buttonPhone {
        margin-top: 30px;
        width: 70%;
        height: 50px;
    }

    .buttonDesktop {
        margin: 10px;
    }
}