.avatar {
    width: 60%;
    margin: 10px 0px 10px 0px;
}

.pseudo {
    color: blue;
    font-size: 1.5em;
}

.buttonPhone {
    margin-top: 30px;
    width: 70%;
    height: 50px;
}

#WelcomePage {
    margin-top: 50%;
}

#Profile1 {
    display: none;
}

#Profile2 {
    display : none;
}

#comparison {
    display: none;
}
.avatar-result {
    width: 80%;
}

figure {
    margin: 0;
}

.VS-phone {
    display: flex;
    align-items: center;
    margin: 10px;
}

#results-phone {
    display: none;
    background: red;
    width: auto;
    height: 200px;
    margin: 10px;
}

#CompareTwoProfile {
    display: none;
}

#bigScreen {
    display: none;
}

