@media screen and (min-width: 801px) {
    #WelcomePage {
        margin: 20% auto 0 auto;
    }
    
    #Profile1 {
        display: none;
        margin: auto;
        margin-top: 0;
    }
    
    #ChooseTheProfile2 {
        display: none;
        margin: 20% auto 0 auto;
    }

    #Profile2 {
        display: none;
        margin: auto;
        margin-top: 0;
    }
    
    #comparison {
        display: none;
        border:3px inset rgb(38, 28, 182);
        margin: 10px;
        border-radius: 10px
    }

    .buttonPhone {
        display: none;
    }

    h1 {
        color: blue;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #displayResultsDesktop {
        display: flex;
        margin: 10px;
        align-items: flex-start;
    }

    .VS-phone {
        display: flex;
        align-items: center;
    }

    .avatar-result {
        width: 50%;
        border-radius: 50%;
        margin: 10px;
    }

    #results-phone {
        display: none;
        background: black;
        width: auto;
        height: 200px;
        margin: 10px;
    }

    .buttonPhone {
        margin-top: 30px;
        width: 70%;
        height: 50px;
    }

    .buttonDesktop {
        margin-top: 30px;
        width: 10%;
        height: 50px;
    }

    .buttonReadyDesktop {
        margin-top: 30px;
        width: 30%;
        height: 50px;
    }
}