
img.avatar-result{
    width: 30%
}

@media screen and (max-width: 800px) {

    .avatar {
        width: 40%;
        margin: 10px 0px 10px 0px;
    }

    .pseudo {
        color: blue;
        font-size: 1.5em;
    }

    .buttonPhone {
        margin-top: 30px;
        width: 50%;
        height: 30px;
    }

    #WelcomePage {
        margin-top: 5%;
    }

    #Profile1 {
        display: none;
    }

    #ChooseTheProfile2 {
        display: none;
        margin: 30% auto 0 auto;
    }

    #Profile2 {
        display: none;
    }

    /* #comparison {
        display: none;
    } */

    .buttonReadyDesktop {
        display: none;
    }

    .avatar-result {
        width: 20%;
        border-radius: 50%;
        margin: 10px;
    }

    figure {
        margin: 0;
    }

    .VS-phone {
        display: flex;
        align-items: center;
        margin: 10px;
    }

    #results-phone {
        display: none;
        background: red;
        width: auto;
        height: 200px;
        margin: 10px;
    }

    

    .buttonDesktop {
        display: none;
    }

    .boxProgressBar {
        display: flex;
        justify-content: center;
    }
    #ProfileOn {
        display: flex;
        margin: auto;
        margin-top: 0;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    #ProfileOff {
        display: none;
        margin: auto;
        margin-top: 0;
    }

    .title{
        color: white;
        /* text-shadow:1px 5px 1px black; */
        text-shadow: 4px 4px 4px black, 0 0 1em black, 0 0 0.2em black;
        font-family: 'Amarante';
}
}
