#progressBar .MuiLinearProgress-barColorPrimary{
    
    background: linear-gradient(to right,#1759FF, #0B2C80);
    width: 100% !important;
    
  }
  .MuiLinearProgress-colorPrimary{
    background: linear-gradient(to right,#80061D,#E60B33 )!important;
    padding : 5px;
    box-shadow: 5px 5px 5px black;
    border: 5px grey outset ;
    width: 100% !important;
  }
.commitBarResult{
    padding: 15px;
}

  .progressBarDiv{
    display: flex;
    width : 100%;
    flex-direction: column;
      
  }
  .commitBar{
      display: flex;
      flex-direction: raw;
      justify-content: center;
  }


.firstUserResult{
      color: blue;
  }
  .secondUserResult{
      color: red;
  }

 
